/*--------------------------------------- General Styles ---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body {
    font-family: "Outfit";
    font-size: 15px;
}
/*--------------------------------------- Header Styles ---------------------------------------*/

/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d6e1ef;
}
main > .row {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
main > .row > .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > .row > .col > .img-col > img {
    width: 300px;
    object-fit: contain;
    border-radius: 10px;
}
.h2-col {
    padding: 15px;
}
.h2-col > h2 {
    font-weight: 700;
    text-align: center;
}
.p-col{
    padding: 5px;
}
.p-col > p {
    font-weight: 400;
    text-align: center;
}
/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    min-height: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution > a {
    color: hsl(228, 45%, 44%);
}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
